*, *:before, *:after {
    box-sizing: border-box;
}

/* Bordes */

h1 {
    border: 1px dashed;
    padding: 10px;
    display: inline-block;
}

.box {
    width: 400px;
    height: 200px;
    background: lightgreen;
    border-width: 1px 2px 3px 4px;
    border-style: solid dashed dotted double;
    border-color: yellow blue red green;
    /*
    Shorthand para borde:
    border: 1px solid lightsalmon;
    */
}

/* border-radius */

.radius {
    width: 400px;
    height: 200px;
    background: lightsalmon;
    margin: 10px 20px;
    border: 1px solid;
    border-radius: 50px 50px;
}

.radius-2 {
    width: 100px;
    height: 100px;
    background: lightgreen;
    border: 1px dashed;
    border-radius: 50%;
}

/* Outline */

.outline {
    width: 400px;
    height: 200px;
    background: lightblue;
    outline: 10px solid darkred;
}

/*

Box-shadow:
    h-offset:
    v-offset:
    blur:
    spread:
    color:
    inset (optional):

*/

.box-shadow {
    width: 400px;
    height: 400px;
    background: lightcoral;
    margin: 100px auto;
    border-radius: 50%;
    box-shadow: -20px -20px 20px 0 rgba(0, 0, 0, .8) inset;
}
