*, *:before, *:after {
    box-sizing: border-box;
}

/* Bordes */

h1 {
    border: 1px dashed;
    padding: 10px;
    display: inline-block;
}

.box {
    width: 400px;
    height: 200px;
    background: lightgreen;
    border-width: 1px 2px 3px 4px;
    border-style: solid dashed dotted double;
    border-color: yellow blue red green;
    /*
    Shorthand para borde:
    border: 1px solid lightsalmon;
    */
}
