/*
Texto

Tipografía: Área que estudia el diseño de tipos de letra

Fuente: Tipo específico de letra creada previamente

Glifos: Dibujos que representan a cada carácter de la fuente

Estilos de fuente: Variaciones de una misma fuente (grosor, inclinación, etc)

Familia tipográfica: Varias fuentes con características comunes

*/

/*
Unidades de medida y estilos básicos de texto
1 em = 100% del tamaño de fuente del contexto
1 rem = 16px * Sin cambiar el tamaño en el :root
Recomendación:
Unidades em para margins, paddings
Unidades rem para fuentes
*/

h1 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #002939;
}

p {
    color: #002939;
    background-color: #E4CFA9;
    border-radius: 1em;
    margin: 4em;
    padding: 2em;
    font-size: 1.5rem;
    /*font-style: italic;*/
    /*font-weight: bold;*/
    text-align: center;
    text-decoration: none;
    /*text-transform: uppercase;*/
    line-height: 1.5;
}

/* font-family */

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*
Sombras de texto
text-shadow: x y blur color
*/

